{% extends 'base.html' %}
{% block title %} cfs|homepage {% endblock %}
{% load static %}
{% block css %} 
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}
{% block content %}
<main id="main" class="my-5">
    <header class="d-flex justify-content-center">
        <div class="row container text-center">
            <div class="col-12 mt-5">
                <h1 class="text-cente mt-5" id="csf-title">
                    Hello, I'm Yeison Andrey
                </h1>                  
            </div>
            <div class="col-12 col-md-8 offset-md-2">
                <p class="lh-base text-center fs-5 effects-hover">
                    In this web application you can find the project I have worked on. You will see a description of each project an image related to the project as well as requirements (implemented technologies).
                </p>
                <hr>
                <p class="lh-base text-center fs-6 effects-hover">
                    If you want try the application you can do it by clicking on the button below. to register and log in. Once logged in you can create, edit and delete projects. Your information and the information related to your projects will be deleted 24 hours after you register, so take that into account.
                </p>             
            </div>
            <div class="col-12 my-5">
                <a class="btn primary scroll btn-lg" href="{% url 'pre_login:register' %}">Get Started</a>
            </div>
        </div>
    </header>
    <div class=" container about-cfs d-flex flex-column align-items-center mb-3">
        <h3 class="text-center h2 my-5">Something About Me</h3>
        <div class="row">
            <div class="col-12 col-lg-6"> 
                <p class="fs-5 lh-base">
                    I am a junior <strong>full stack developer</strong> and <strong>data scientist</strong>, with six months of experience in web development. I have leadership skills, adaptability and empathy that allow me to work effectively in a team. <br>
                    I am interested in continuing to develop my professional career working with companies where having a <strong>positive impact on society</strong> is a priority. Improving people's quality of life through technology is something that I'm looking for!. <br>
                    I would love to be part of a team of data scientists since my <strong>analytical skills</strong> as well as business interests will be really implemented in this field. I seek <strong> to solve challenging business problems</strong> by using data science tools. Among what I will bring to your company I want to mention.
                </p>
            </div>
            <div class="col-12 col-lg-6">
                <div class="d-flex flex-wrap">
                    <div class="skills__skill">HTML</div>
                    <div class="skills__skill">CSS</div>
                    <div class="skills__skill">JavaScript</div>
                    <div class="skills__skill">Bootstrap</div>
                    <div class="skills__skill">Python</div>
                    <div class="skills__skill">GIT</div>
                    <div class="skills__skill">Github</div>
                    <div class="skills__skill">Responsive Design</div>
                    <div class="skills__skill">Pandas</div>
                    <div class="skills__skill">Terminal</div>
                    <div class="skills__skill">Numpy</div>
                    <div class="skills__skill">Scikit-learn</div>
                    <div class="skills__skill">Keras</div>
                    <div class="skills__skill">SQL</div>
                    <div class="skills__skill">PostgreSQL</div>
                    <div class="skills__skill">MySQL</div>
                    <div class="skills__skill">Linux - Ubuntu</div>
                    <div class="skills__skill">Django</div>
                    <div class="skills__skill">Django Rest Framework</div>
                    <div class="skills__skill">Flask</div>
                    <div class="skills__skill">Azure</div>
                    <div class="skills__skill">Machine Learning</div>
                    <div class="skills__skill">Deep Learning</div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- <div id="cookie-banner">
        <p>
            This website uses cookies to ensure you get the best experience on our website.
        </p>
        <form action="{% url 'pre_login:get_api_key' %}" id="accept-cookies">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">Accept</button>
        </form>
    </div> -->
</main>
{% endblock %}
{% block footer %}
<footer id="footer-index" class="container-fluid p-2">
    <p class="text-center mt-2">Full-Stack Copilot &copy; 2022</p>
</footer>
{% endblock %}
{% block scripts %}
<script src="{% static '/js/cookies.js' %}"></script>
{% endblock %}