{% extends 'base.html' %}
{% block title %} cfs | Public Projects {% endblock %}

{% block css %}
{{ block.super }}
{% load static %}
<link rel="stylesheet" href="{% static 'css/projects_templates.css' %}">
<style>
    @media screen and (min-width: 768px) and (max-width: 991px){
        .project-container:nth-child(even){
            display: flex;
            flex-direction: column;
        }
        .project-container:nth-child(even) .project-info{
            margin-right: 0;
            margin-left: 0;
        }
        .project-container .project-img{
            padding: 0px;
            border-radius: 6px 6px 0px 0px;
        }
    
        .project-container .project-info{
            border-radius: 0px 0px 6px 6px;
        }
    }
    @media (min-width: 992px){
        .main{
            padding: 50px;
        }
        .project-container{
            display: grid;
            grid-template-columns: repeat(1fr, 12);
        }
        .project-container:nth-child(even) .project-info{
            grid-column: 2 / 7;
            grid-row: 1;
            margin-right: -100px;
            margin-left: 0;
        }
    
        .project-container:nth-child(odd) .project-info{
            grid-column: 7 / 12;
            grid-row: 1;
            margin-right: 0;
            margin-left: -100px;
        }
        .project-container:nth-child(even) .project-img{
            grid-column: 7 / 12;
            grid-row: 1;
            padding: 0px;
            border-radius: 6px 6px 0px 0px;
        }
    
        .project-container:nth-child(odd) .project-img{
            grid-column: 2 / 7;
            grid-row: 1;
            padding: 0px;
            border-radius: 6px 6px 0px 0px;
        }
    
        .project-info{
            background-color:var(--primary-10);
            border-radius: 6px 6px 0px 0px;
        }
        .project-container .project-img{
            max-width: 1000px;
            border-radius: 0px 0px 6px 6px;
        }
    }    
</style>
{% endblock %}

{% block content %}
<main class="container-fluid main my-5"> 
    <h1 class="text-center"> Public Projects </h1>
    {% for project in projects %}
        <div class="project-container" >
            <div class="project-img">
                <a href="/users/{{user.id}}/view_project/{{projects.id}}">
                    {% if project.wireframe %}
                        <img src="{{ project.wireframe.url }}" alt="project image" class="img-fluid">
                    {% else %}
                        <img src="{% static 'images/pexels-picjumbocom-196644.jpg' %}" alt="template image" class="img-fluid">
                    {% endif %}
                </a>
            </div>
            <div class="project-info">
                <p class="text-white-50">project owner {{project.owner}}</p>
                <h1 class="text-info align-end"> <a href="" class="nav-link" >{{project.name}}</a></h1>
                {{project.description}}
                <p>
                    <a href="/users/{{user.id}}/view_project/{{project.id}}" class="btn btn-success">View Project</a>
                </p>
            </div>
        </div>
    {% endfor %}
</main>
{% endblock %}

