{% extends 'base.html' %}
{% block title %} cfs|homepage {% endblock %}

{% block content %}
<main id="main">
    <header class="d-flex justify-content-center">
        <div class="row container text-center">
            <div class="col-12">
                <h1 class="text-center">
                    Your Best Ally When Managing Full-stack Projects
                </h1>                  
            </div>
            <div class="col-12">
                <p class="text-center">
                    Manage your projects with ease. Create a project, add a member, and track progress. Copilot Full Stack is the best way to manage your projects.
                    It's free and easy to use. It allows you to sync your activities with your team.
                </p>             
            </div>
            <div class="col-12">
                <a class="btn btn-light btn-lg" href="#">Get Started</a>
            </div>
            <div class="col-12">
                <a href="#" class="btn btn-outline-success btn-lg m-3">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-google" viewBox="0 0 16 16">
                        <path d="M15.545 6.558a9.42 9.42 0 0 1 .139 1.626c0 2.434-.87 4.492-2.384 5.885h.002C11.978 15.292 10.158 16 8 16A8 8 0 1 1 8 0a7.689 7.689 0 0 1 5.352 2.082l-2.284 2.284A4.347 4.347 0 0 0 8 3.166c-2.087 0-3.86 1.408-4.492 3.304a4.792 4.792 0 0 0 0 3.063h.003c.635 1.893 2.405 3.301 4.492 3.301 1.078 0 2.004-.276 2.722-.764h-.003a3.702 3.702 0 0 0 1.599-2.431H8v-3.08h7.545z"/>
                    </svg> Sign up with Google
                </a>
                <a href="#" class="btn btn-outline-secondary btn-lg m-3">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope-fill" viewBox="0 0 16 16">
                        <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555ZM0 4.697v7.104l5.803-3.558L0 4.697ZM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757Zm3.436-.586L16 11.801V4.697l-5.803 3.546Z"/>
                    </svg> Sign up with Email
                </a>
            </div>
        </div>
    </header>
    <div class="about-cfs row container-fluid my-5">
        <section class="col-10 offset-1">
            <h1 class="text-center h2">Templates</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet illo ad minima eveniet suscipit, corporis labore libero recusandae vero pariatur, molestiae quam placeat delectus at exercitationem, nulla magnam laudantium odio!</p>
        </section>
    </div>
    <div class="about-cfs row  container-fluid">
        <section class="col-10 offset-1">
            <h1 class="text-center h2">Templates</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet illo ad minima eveniet suscipit, corporis labore libero recusandae vero pariatur, molestiae quam placeat delectus at exercitationem, nulla magnam laudantium odio!</p>
        </section>
    </div>
    <div class="about-cfs row container-fluid">
        <section class="col-10 offset-1">
            <h1 class="text-center h2">Templates</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet illo ad minima eveniet suscipit, corporis labore libero recusandae vero pariatur, molestiae quam placeat delectus at exercitationem, nulla magnam laudantium odio!</p>
        </section>
    </div>
</main>
{% endblock %}
    
{% block footer %}
{{ block.super }}
{% endblock %} 