{% extends 'base.html' %}
{% block title %} cfs|Login{% endblock %}

{% block css %}
{{ block.super }}
{% load static %}
<link rel="stylesheet" href="{% static 'css/projects_templates.css' %}">
{% endblock %}

{% block content %}
    <main class="container-fluid">   
        <div class="project-container row " >
            <div class="project-img offset-md-1 col-md-10 col-lg-5">
                <a href="/users/new_user_project">
                    <img src="{% static 'images/img.jpg' %}" alt="image">
                </a>
            </div>
            <div class="project-info offset-md-1 col-md-10 col-lg-6">
                <p class="text-white-50">project features</p>
                <h1 class="text-info align-end"> <a href="/users/new_user_project" class="nav-link">Project Name</a></h1>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Delectus autem distinctio laborum praesentium vel. Dolores qui at quibusdam iure, placeat excepturi vero temporibus quae odio rerum laudantium tenetur saepe sit!
                <p>bay</p>
            </div>
        </div>
        <div class="project-container row " >
            <div class="project-info offset-md-1 col-md-10 col-lg-6">
                <p class="text-white-50">project features</p>
                <h1 class="text-info align-end"> <a href="/users/new_user_project" class="nav-link">Project Name</a></h1>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Delectus autem distinctio laborum praesentium vel. Dolores qui at quibusdam iure, placeat excepturi vero temporibus quae odio rerum laudantium tenetur saepe sit!
                <p>bay</p>
            </div>
            <div class="project-img col-md-10 col-lg-5">
                <a href="/users/new_user_project">
                    <img src="{% static 'images/pexels-picjumbocom-196644.jpg' %}" alt="image">
                </a>
            </div>
        </div>
        <div class="project-container row" >
            <div class="project-img offset-1 col-md-10 col-lg-5">
                <a href="/users/new_user_project">
                    <img src="{% static 'images/cfs-project.png' %}" alt="image">
                </a>
            </div>
            <div class="project-info offset-md-1 col-md-10 col-lg-6">
                <p class="text-white-50">project features</p>
                <h1 class="text-info align-end"> <a href="/users/new_user_project"class="nav-link">Project Name</a></h1>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Delectus autem distinctio laborum praesentium vel. Dolores qui at quibusdam iure, placeat excepturi vero temporibus quae odio rerum laudantium tenetur saepe sit!
                <p>bay</p>
            </div>
        </div>
        <div class="project-container row " >
            <div class="project-info offset-md-1 col-md-10 col-lg-6">
                <p class="text-white-50">project features</p>
                <h1 class="text-info align-end"> <a href="/users/new_user_project"class="nav-link">Project Name</a></h1>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Delectus autem distinctio laborum praesentium vel. Dolores qui at quibusdam iure, placeat excepturi vero temporibus quae odio rerum laudantium tenetur saepe sit!
                <p>bay</p>
            </div>
            <div class="project-img col-md-10 col-lg-5">
                <a href="/users/new_user_project">
                    <img src="{% static 'images/wireframe_cfs.pdf.drawio.png' %}" alt="image">
                </a>
            </div>
        </div>
    </main>
{% endblock %}

