{% extends 'base.html' %}
{% block title %} cfs|homepage {% endblock %}

{% block content %}
<main class="container-fluid">   
    <div class="row">
        <div class="col-12 col-lg-9">
            <h1>Title</h1>
            <div class="img-container">
                <img src="https://images.pexels.com/photos/196645/pexels-photo-196645.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="image" class="img-fluid">
            </div>
            <div class="info-container">
                <form action="/project_info" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="project_info">Project Info</label>
                        <textarea class="form-control" id="project_info" rows="3" name="information"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
        <div class="col-12 col-lg-3">
            <div class="calendar">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus impedit sint voluptatem? Dicta repellendus rem recusandae! Sed reiciendis
            </div>
        </div>
    </div>
</main>
{% endblock %}

{% block js %}
{{ block.super }}
{% endblock %}