{% extends 'base.html' %}
{% block title %} cfs|homepage {% endblock %}
{% block css %}
{{ block.super }}
{% load static %}
<style>
    .primary{
        background-color:var(--btn-primary);
        color:var(--font-color-10);
    }
    
    .secondary{
        background-color:var(--btn-secondary);
        color:var(--font-color-6);
    }
</style>
{% endblock %}

{% block content %}
<p id="fetchTo" style="visibility:hidden;">{% url 'projects:create_project' %}</p>
<main class="container-fluid px-5">   
    <div class="row">
        <div class="col-12">
            {% include 'projects/sections/form_new_project.html' %}
        </div>
    </div>
</main>
<div class="container my-1">
    <div class="row">
        <div class="col-12 col-md-9 col-lg-6 offset-md-1 offset-lg-3">
            <div id="alertMessage"></div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
{{ block.super }}
{% load static %}
<script src="{% static 'js/create_project.js' %}"></script>
<script src="{% static 'js/validations_ajax.js' %}"></script>
{% endblock %}
