{% extends 'base.html' %}
{% block title %} cfs | Public Projects {% endblock %}

{% block css %}
{{ block.super }}
{% load static %}
<link rel="stylesheet" href="{% static 'css/projects_templates.css' %}">
<link rel="stylesheet" href="{% static 'css/projects_preview.css' %}">
{% endblock %}
{% block content %}
<main class="container-fluid main my-5"> 
    <h1 class="text-center"> Public Projects </h1>
    {% for project in projects %}
        <div class="project-container" >
            <div class="project-img">
                <a href="{% url 'projects:view_public_project' id=project.id %}">
                    {% if project.wireframe %}
                        <img src="{{ project.wireframe.url }}" alt="project image" class="img-fluid">
                    {% else %}
                        <img src="{% static 'images/pexels-picjumbocom-196644.jpg' %}" alt="template image" class="img-fluid">
                    {% endif %}
                </a>
            </div>
            <div class="project-info">
                <p class="text-white-50">project owner {{project.owner}}</p>
                <h1 class="text-info align-end"> 
                    <a href="{% url 'projects:view_public_project' id=project.id %}" class="nav-link" >{{project.name}}</a>
                </h1>
                <p class="lh-base fs-6">{{ project.description | truncatechars:200 }}</p>
                <p class="mt-2">
                    <a href="{% url 'projects:view_public_project' id=project.id %}" class="btn primary">View Project</a>
                </p>
            </div>
        </div>
    {% endfor %}
</main>
{% endblock %}