{% extends 'base.html' %}
{% block title %} cfs| public projects {% endblock %}
{% block css %}
{{ block.super }}
{% load static %}
<link rel="stylesheet" href="{% static 'css/projects_templates.css' %}">
<link rel="stylesheet" href="{% static 'css/projects_view.css' %}">
{% endblock %}
{% block content %}
<main class="container-fluid my-5" id="main">   
    <div class="row">
        <div class="col-lg-10 offset-lg-1 my-5">
            <h1 class="text-center project-name text-info"> {{ project.name }} </h1>
            <p class="lh-base fs-5">
                {{ project.description }}
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-10 offset-lg-1">
            {% if project.wireframe != '' %}
            <div class="d-flex flex-column align-items-center">
                <img src="{{project.wireframe.url}}" alt="project wireframe" class="img-fluid">
            </div>
            {% endif %}
        </div>
    </div>
    <div class="d-flex flex-column justify-content-center">
        <div class="row my-5">
            <div class="col-lg-10 offset-lg-1">
                <H2 class="text-center my-3">Project Requirements</H2>
                <ul class="list-group my-2" id="requirements-list">
                    <li class="list-group-item primary">
                        <div class="d-flex flex-wrap justify-content-between">
                            <h6 class="ml-2"> Requirement </h6>
                            <div class="d-flex flex-wrap justify-content-end align-items-center">
                                <h6>version</h6>
                            </div>
                        </div>
                    </li>
                    {% for requirement in requirements %}
                    <li class="list-group-item artefact {{requirement.complete|yesno:'done,artefact'}}" id="requirement-{{requirement.id}}">
                        <div class="d-flex flex-wrap justify-content-between">
                            <p class="ml-2" id="requirement-info-{{requirement.id}}">{{ requirement.description }}</p>
                            {% if requirement.id != 'error' %}
                            <div class="d-flex flex-wrap justify-content-between align-items-center">
                                <button class="btn primary btn-sm mx-2">{{requirement.version}}</button>
                            </div>
                            {% endif %}
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <h2 class="text-center">Features List</h2>
                <ul class="list-group" id="tasks-list">
                    {% for todo in to_dos %}
                    <li id="ToDo-{{todo.id}}" class="list-group-item artefact">
                        <div class="d-flex flex-wrap justify-content-between">
                            <p class="mx-2" id="ToDo-info-{{todo.id}}">{{ todo.description }}</p>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>           
        </div>
        <div class="row my-3">
            <div class=" col-lg-10 offset-lg-1 d-flex flex-column align-items-center">
                {% if project.user_flow_image != '' %}
                    <img src="{{project.user_flow_image.url}}" alt="user flw" class="img-fluid">
                {% endif %}
            </div>
        </div>
    </div>
</main>
{% endblock %}
